@use "../variables";
@use "./_grid-card.scss";


* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: variables.$secundary-color;
}

h2 {
  font-family: variables.$font-family-serif;
  font-size: 1.5rem;
}
.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;

  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (max-width: variables.$mqMinWidth) {
    min-width: none;
  }
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: variables.$uoc-corporate;

  @media (min-width: variables.$mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.nav-bar {
  display: flex;
  max-width: 1500px;
  justify-content: space-between;
  align-content: space-between;
  ul {
    li {
      display: flex;
    }
  }
}

.header-image {
  position: relative;
  width: 100%;
  height: 600px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    //Mobile version (420px)
    @media (max-width: variables.$mqMinWidth) {
      height: 700px;
    }
  }

  .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    font-size: 60px;
    line-height: 100%;
    font-family: variables.$font-family-serif;
  }

  b {
    color: variables.$secundary-color;
  }

  .introduction {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: variables.$secundary-color;
    padding: 10px;

    //Tablet version (768px)
    @media (max-width: variables.$tabletMaxWidth) {
      top: 75%;
      width: 80%;
    }

    //Mobile version (420px)
    @media (max-width: variables.$mqMinWidth) {
      top: 85%;
      width: 90%;
    }
  }
}

.location {
  &__box {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 50px;

    & img {
      @media (max-width: variables.$tabletMaxWidth) {
        width: 90%;
      }
    }

    //Tablet version (768px)
    @media (max-width: variables.$tabletMaxWidth) {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      gap: 50px;
    }

    //Mobile version (420px)
    @media (max-width: variables.$mqMinWidth) {
      flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 150px;
      gap: 10px;
    }
    &__elements {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      @media (min-width: variables.$mqMinWidth) {
        flex-basis: 50%;
      }

      img {
        width: 100%;
      }
    }
  }
  &__link {
    color: variables.$link_color;
  }
}

// Apartado : Conocer "Hong Kong"
.visitar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #4b1018;

  h2 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }


  figure {
    margin: 0;
    img {
      width: 100%;
      height: 250px;
      overflow: hidden;
      border-radius: 10px;
    }
    figcaption {
      text-align: center;
      color: white;
    }
  }

  h3 {
    color: wheat;

    border-bottom: 1px solid wheat;
  }
  p {
    color: white;
  }
}

// Apartado : ¿Dónde comer?

.restaurantes {
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  .flexbox {
    &__restaurants {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex: auto;
      justify-content: space-around;
      gap: 20px;

      justify-items: center;

      @media (max-width: variables.$tabletMaxWidth) {
        flex-direction: column;
        width: 80%;
      }
      @media (max-width: variables.$mqMinWidth) {
        width: 100%;
      }

      &--content {
        flex-basis: 50%;
      }

      &--img {
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

        @media (max-width: variables.$tabletMaxWidth) {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

// Newsletter part with form
.newsletter {
  &__section {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    color: variables.$text-color;
    background-color: #4b1018;
    border-radius: 10px;
    padding: 50px;

    &--label {
    }
    &--input {
      width: 20%;
      border-radius: 5px;

      margin: 10px;
      @media (max-width: variables.$tabletMaxWidth) {
        flex-direction: column;
        width: 100%;
      }
      @media (max-width: variables.$mqMinWidth) {
        width: 100%;
      }
    }
  }
}

.submit-btn {
  //botón "Suscribirme"
  padding: 10px;
  margin-top: 15px;
  color: variables.$text-color;
  background-color: variables.$background-color;
  border-radius: 20px;

  @media (max-width: variables.$tabletMaxWidth) {
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: variables.$mqMinWidth) {
    width: 100%;
  }

  &:hover {
    color: variables.$secundary-color;
    background-color: variables.$text-color;
  }
}
