@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: variables.$secundary-color;

  //Tablet version
  @media (min-width: 768px) {
    padding: 2rem;
    
    &__title {
      font-size: 1.5rem;
    }
  }
  
  //Movile version
  @media (min-width: 768px) {
    padding: 2rem;

    &__title {
      font-size: 1.5rem;
    }
  }
  

}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;

  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: variables.$mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: variables.$uoc-corporate;

  @media (min-width: variables.$mqMinWidth) {
    font-size: 36px;

  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.nav-bar{
  display: flex;
  max-width: 1500px;
  justify-content: space-between;
  align-content: space-between;
  ul{
    li{
      display: flex;
    }
  }
}

.header-image{
  position: relative; 
  width: 100%;
  height: 600px; 
  
  img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  
  }

  .title{
  position: absolute; 
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
  margin: 0;
  font-size: 60px;
  line-height: 100%;
  font-family: variables.$font-family-serif;
  }
  
  b{
    
    color:variables.$secundary-color;
  }
 
  
  
  .introduction{
  position: absolute; 
  top: 60%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  background-color: variables.$secundary-color ;
  padding: 10px;
  
  }
}

.location{
  &__box{
      display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;

} &__elements{
  
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

      @media (min-width: variables.$mqMinWidth) {
        flex-basis: 50%;
      }
    
    img {
        width: 100%;
    }
}&__link{
    color:variables.$link_color;

}}


// Apartado : Conocer "Hong Kong"
.visitar{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #4B1018;

  h2{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .grid{ // Apartado :Conocer "Hong Kong" y  Eventos y puntos culturales
    &__card{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      padding: 20px;
        &--element{   
          /*background: variables.$secundary-color;*/
      background: brown;
      border-radius: 10px;
      padding: 20px;

      box-shadow: 0px -1px 13px -2px #000000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

}}}
    
    
      
      
    figure{
      margin: 0;
    img{
      width: 100%;
      height: 250px;
      overflow: hidden;
      border-radius: 10px;
    } 
    figcaption{
      text-align: center;
      color:white;
      
    };
    }
    
    h3{
      color:wheat;
    
        border-bottom: 1px solid wheat;
      
    }
    p{
    color:white;
    }
      
    
  }


  // Apartado : ¿Dónde comer?

  .restaurantes{
    width: 80%;
    margin-right:  auto;
    margin-left: auto;

    .flexbox{
  &__restaurants{

    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    gap:20px;
    
  }
    
  }
  }

  // Newsletter part with form
  .newsletter{
    &__section{
      width: 98%;
      margin-right: auto;
      margin-left: auto;
      background-color: variables.$background-color;
      border-radius: 10px;
      padding:50px;
    }
}


