@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: variables.$background-color;
  color: variables.$uoc-corporate;
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;

  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: variables.$mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: variables.$uoc-corporate;

  @media (min-width: variables.$mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.nav-bar{
  display: flex;
  max-width: 1500px;
  justify-content: space-between;
  align-content: space-between;
  ul{
    li{
      display: flex;
    }
  }
}

.header-image{
  position: relative; 
  width: 100%;
  height: 600px; 
  
  img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  
  }

  .title{
  position: absolute; 
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
  margin: 0;
  font-size: 60px;
  line-height: 100%;
  font-family: variables.$font-family-serif;
  }
  
  b{
    
    color:variables.$secundary-color;
  }
 
  
 
  
  .introduction{
  position: absolute; 
  top: 60%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  background-color: variables.$secundary-color ;
  padding: 10px;
  
  }
}

.location-box{
  
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;
  
  .location-elements{
    width: 600px;
    
  
  }
  
}

.visitar{
 
    .grid-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    }
    .card{
      background: variables.$secundary-color;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      
      figure{
        margin: 0;

      img{
        width: 100%;
        height: 250px;
        overflow: hidden;

      } 
      figcaption{
        text-align: center;
              color:white;

        
      };
      }
      
      h3{
        color:wheat;
      }
      p{
      color:white;
      }
    }
   
    
  }