<form class="newsletter-form">
          <label class="form-label"> Nombre completo<b>*</b></label>
          <input type="text" class="input-form" id="name" name="name" required placeholder="Nombre de usuario">
          
          <br>
          
          <label class="form-label"> Correo electrónico<b>*</b></label>
          <input type="text" class="input-form" id="name" name="name" required placeholder="correo electrónico">
          
          <div class="form-group">
                    <label class="form-label">¿Qué te interesa más?</label>
                    <select class="form-input" id="interest" name="interest">
                        <option value="">Selecciona una opción</option>
                        <option value="gastronomia"> Gastronomía y comida callejera</option>
                        <option value="cultura">Cultura y tradiciones</option>
                        <option value="arquitectura">Arquitectura y vistas</option>
                        <option value="compras">Compras y mercados</option>
                        <option value="naturaleza">Naturaleza y escapadas</option>
                    </select>
                </div>
                                <div class="checkbox-group">
                    <input type="checkbox" id="privacy" name="privacy" required>
                    <label for="privacy" class="checkbox-label">
                        Acepto recibir emails con guías y ofertas. Puedes cancelar tu suscripción en cualquier momento. 
                        <a href="#">Política de privacidad</a>
                    </label>
                </div>
                <button type="submit" class="submit-btn">
                    Suscribirme
                </button>
        </form>